.text-ios-primary {
    color: #ffffff !important;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}
$searchbar-ios-border-color: red;

page-page1 {
  .ion-md-add:before {
    content: "\f273";
    font-size: 2.5em;
}
  .fab-ios {
    color: #fff;
    background-color: #1da9e4;
    border: 1px solid;
}
ion-fab[center] {
    left: 49%;
    margin-left: -28px;
}
  .fab {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color, opacity 100ms linear;
    background-clip: padding-box;
    -webkit-font-kerning: none;
    font-kerning: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: strict;
}
  ion-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    margin-top:0px;
}
.item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}

ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background: #1da9e4;
    height: 50px;
}
.item-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 32%;
    min-height: 4.4rem;
    border: 0;
    font-weight: normal;
    line-height: normal;
    text-align: initial;
    text-decoration: none;
    color: inherit;
}

.card-ios {
  margin: 12px 12px 12px 12px;
  width: calc(100% - 24px);
  border-radius: 18px;
  font-size: 1.4rem;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: 220px;
}
.header-ios .toolbar-background-ios{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  background: #1da9e4;
}
.footer-ios .toolbar-background-ios{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  background: #1da9e4;
}
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color:#ffffff;
  background-color: transparent;
}
.toolbar-title-ios{
color: #ffffff;
}
.button-outline-ios {
  margin: 0.4rem 43rem;
  color: #ffffff;
  border-color: #ffffff;
}
.toolbar-title-ios {
    color: #ffffff;
    padding-top: 4px;
}
}

 .card-background-page {

.scroll-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    top: 60px;
    height: 609px;
    
}
.label-ios {
    margin: 11px 8px 11px 0;
}

.badge-ios {
    border-radius: 10px;
    color: #fff;
    background-color: #1da9e4;
}
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
 }

}

.custom-card {
  ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background: #fff;
}
img {
    margin-top: 5%;
    max-width: 100%;
    border: 0;
    width: 40%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
}

.logo-pic {
    width: 100px;
    height: 20px;
    margin: 5px 5px 5px 5px;
}

.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
    background: rgb(29, 169, 228);
}

.custom-modal-card {
    ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background: #fff;
}
img {
    margin-top: 5%;
    max-width: 100%;
    border: 0;
    width: 40%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
 }
 .card-ios {
  margin: 12px 12px 12px 40px;
  width: calc(100% - 24px);
  border-radius: 18px;
  font-size: 1.4rem;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: 220px;
}
}
